@using ProjectHub.Blazor.Constants
@attribute [Route(ProjectHubRoute.Details)]

<RadzenStack Gap="1rem">
    <RadzenRow Visible="true" Style="height: 50px;">
        <RadzenColumn Size="12"
                      SizeMD="6"
                      Class="rz-p-4 rz-border-radius-1">
            <RadzenStack Orientation="Orientation.Horizontal"
                         JustifyContent="JustifyContent.Left"
                         Gap="1.0rem">
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12"
                      SizeMD="6"
                      Style="padding-right: 0px;padding-bottom: 20px">
            <RadzenStack Orientation="Orientation.Horizontal"
                         JustifyContent="JustifyContent.Right"
                         Gap="1.0rem">
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="12"
                      SizeMD="6"
                      Class="rz-p-4 rz-border-radius-1"
                      Style="border: var(--rz-grid-cell-border)">
            <RadzenText TextStyle="TextStyle.Subtitle1"
                        Text="Kontakt"/>
            <RadzenStack Gap="0" Class="rz-text-truncate">
                <RadzenStack Gap="0" Class="rz-text-truncate">
                    <RadzenText TextStyle="TextStyle.Overline"
                                Class="rz-mt-2 rz-my-0"
                                Style="color: var(--rz-text-tertiary-color);"
                                Text="Projektadministrator:in"/>
                    <RadzenText TextStyle="TextStyle.Body1"
                                Class="rz-text-truncate"
                                Text="@(ProjectDetailsViewModel?.CreatedBy)"/>
                    <RadzenText TextStyle="TextStyle.Overline"
                                Class="rz-mt-4 rz-mb-0"
                                Style="color: var(--rz-text-tertiary-color);"
                                Text="Tribe"/>
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 JustifyContent="JustifyContent.SpaceBetween"
                                 AlignItems="AlignItems.Center">
                        <RadzenText Text="@(ProjectDetailsViewModel?.TribeViewModel.Name)"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Left"
                                    Class="rz-text-truncate"/>
                        <RadzenButton IconColor="white"
                                      ButtonStyle="ButtonStyle.Info"
                                      Size="ButtonSize.ExtraSmall"
                                      Icon="edit"
                                      Click="() => OpenEditDialog(nameof(ProjectDetailsViewModel.TribeViewModel.Name))">
                        </RadzenButton>
                    </RadzenStack>
                    <RadzenText TextStyle="TextStyle.Overline"
                                Class="rz-mt-4 rz-mb-0"
                                Style="color: var(--rz-text-tertiary-color);"
                                Text="Email"/>
                    <RadzenText TextStyle="TextStyle.Body1"
                                Class="rz-text-truncate"
                                Text="@ProjectDetailsViewModel?.CreatorEmail"/>
                </RadzenStack>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12"
                      SizeMD="6"
                      Style="border: var(--rz-grid-cell-border)"
                      Class="rz-p-4 rz-border-radius-1">
            <RadzenText TextStyle="TextStyle.Subtitle1"
                        Text="Projekt Informationen"/>
            <RadzenStack Gap="0" Class="rz-text-truncate">
                <RadzenText TextStyle="TextStyle.Overline"
                            Class="rz-mt-2 rz-my-0"
                            Style="color: var(--rz-text-tertiary-color);"
                            Text="Status"/>
                <RadzenStack Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.SpaceBetween"
                             AlignItems="AlignItems.Center">
                    <RadzenText Text="@(ProjectDetailsViewModel?.Status)"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Left"
                                Class="rz-text-truncate"/>
                    <RadzenButton IconColor="white"
                                  ButtonStyle="ButtonStyle.Info"
                                  Size="ButtonSize.ExtraSmall"
                                  Click="() => OpenEditDialog(nameof(ProjectDetailsViewModel.Status))"
                                  Icon="edit">
                    </RadzenButton>
                </RadzenStack>

                <RadzenText TextStyle="TextStyle.Overline"
                            Class="rz-mt-2 rz-my-0"
                            Style="color: var(--rz-text-tertiary-color);"
                            Text="Einstelldatum"/>
                <RadzenText TextStyle="TextStyle.Body1"
                            Class="rz-text-truncate"
                            Text="@($"{ProjectDetailsViewModel?.CreatedAt:yy. MMMM yyyy}")"/>

                <RadzenStack Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.SpaceBetween"
                             AlignItems="AlignItems.Center">
                    <RadzenText TextStyle="TextStyle.Overline"
                                Class="rz-mt-2 rz-my-0"
                                Style="color: var(--rz-text-tertiary-color);"
                                Text="Programmiersprache/n"/>
                    <RadzenButton IconColor="white"
                                  ButtonStyle="ButtonStyle.Info"
                                  Size="ButtonSize.ExtraSmall"
                                  Icon="edit"
                                  Click="() => OpenEditDialog(nameof(ProjectDetailsViewModel.ProgrammingLanguageViewModels))">
                    </RadzenButton>
                </RadzenStack>
                
                @if (ProjectDetailsViewModel?.ProgrammingLanguageViewModels.Any() == true)
                {
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 JustifyContent="JustifyContent.SpaceBetween"
                                 AlignItems="AlignItems.Center">
                        <div>
                            @foreach (string language in ProjectDetailsViewModel.ProgrammingLanguageViewModels.Select(model => model.Name).ToList())
                            {
                                <RadzenText Text="@language"
                                            TextStyle="TextStyle.Body1"
                                            TextAlign="TextAlign.Left"
                                            Class="rz-text-truncate"/>
                            }
                        </div>
                    </RadzenStack>
                }

            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="12"
                      SizeMD="12"
                      Class="rz-p-4 rz-border-radius-1"
                      Style="border: var(--rz-grid-cell-border)">
            <RadzenStack Gap="0" Class="rz-text-truncate">
                <RadzenText TextStyle="TextStyle.Overline"
                            Class="rz-mt-2 rz-my-0"
                            Style="color: var(--rz-text-tertiary-color);"
                            Text="Titel"/>
                <RadzenStack Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.SpaceBetween"
                             AlignItems="AlignItems.Center">
                    <RadzenText Text="@(ProjectDetailsViewModel?.Title)"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Left"
                                Class="rz-text-truncate"/>
                    <RadzenButton IconColor="white"
                                  ButtonStyle="ButtonStyle.Info"
                                  Size="ButtonSize.ExtraSmall"
                                  Icon="edit"
                                  Click="() => OpenEditDialog(nameof(ProjectDetailsViewModel.Title))">
                    </RadzenButton>
                </RadzenStack>
                <RadzenText TextStyle="TextStyle.Overline"
                            Class="rz-mt-2 rz-my-0"
                            Style="color: var(--rz-text-tertiary-color);"
                            Text="Beschreibung"/>
                <RadzenStack Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.SpaceBetween"
                             AlignItems="AlignItems.Center">
                    <RadzenText TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Justify"
                                Class="rz-text-truncate">
                        @ProjectDetailsViewModel?.Description
                    </RadzenText>
                    <RadzenButton IconColor="white"
                                  ButtonStyle="ButtonStyle.Info"
                                  Size="ButtonSize.ExtraSmall"
                                  Icon="edit"
                                  Click="() => OpenEditDialog(nameof(ProjectDetailsViewModel.Description))">
                    </RadzenButton>
                </RadzenStack>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal"
                 JustifyContent="JustifyContent.End"
                 Gap="1.0rem">
        <RadzenButton Click="@(OnClose)"
                      Variant="Variant.Flat"
                      ButtonStyle="ButtonStyle.Secondary"
                      Text="Abbrechen"
                      Style="width: 150px"/>
        <RadzenButton Click="@(OnUpdate)"
                      Variant="Variant.Flat"
                      Text="Aktualisieren"
                      Style="width: 150px"/>
    </RadzenStack>
</RadzenStack>